/*Style for Home Page*/

/*Removing the default border and margin values*/
* {
    margin: 0;
    border: 0;
    padding: 0;
   
}

.container {
    width: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    font-weight: 250;
    color: #3a3a3a;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #242323;
}

.menu,
.logo {
    line-height: 4.7rem;
}

.logo {
    float: left;
    font-size: 250%;
    margin-left: 1.25rem;
}

.menu {
    font-size: 100%;
    letter-spacing: 0.25rem;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 1.875rem;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: #45a6ea;
    font-size: 140%;
}

.menu a:hover {
    border-bottom: 0.06rem solid #3a3a3a;
}

.workoutOuter{
    width: 100%;
    height: 37.5rem;
    overflow: hidden;
}

.workoutImage {
    width: 100%;
    height: 37.5rem;
    background: url("../images/workout_image.webp") no-repeat;
    background-size: cover;
}

.remoteExercise {
    height: 37.5rem;
}

.remoteExercise h1 {
    width: 90%;
    letter-spacing: 1.25rem;
    margin-top: 2.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem;
}

.remoteExercise img {
    width: 100%;
    height: 37.5rem;
    margin: 0 auto;
    display: block;
    margin-top: -1.25rem;
}

.outerCenter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 10%;
}

.center {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    flex-wrap: wrap;
}

.col-1-Centers,
.col-2-Centers {
    flex-basis: 50%;
    flex-grow: 1;
}

.col-1-Centers img {
    width: 100%;
    display: block;
    border-radius: 2.5rem;
    margin: 0.43rem -1.625rem 0.875rem;
    height:32rem;

}

.centersHeading {
    color: black;
    width: 100%;
    margin: -75rem 0.313rem -0.75rem 2.3rem;
    font-size: 2.43rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #060606;
}

.col-2-Centers {
    margin: -60% 5% 4% 44%;
    position: relative;
    background-color: #3fd350;
    border-radius: 0.086rem;
    padding: 1.25rem;

}

.col-2-Centers h2 {
    width: 100%;
    border: 0.125rem solid white;
    border-radius: 2.5rem;
    text-align: center;
    color: white;
    flex-grow: 2;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

footer {
  
    background-color: white;
}

.socialMedia {
    text-align: center;
}

.socialMedia li {
    display: inline;
}

.socialMedia i {
    font-size: 160%;
    margin: 1%;
    padding: 0 2%;
    color: #000000;
}

/*Home Page styling ends here*/

/*Style for the SignUp  page starts here*/
.outerSignupBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    
}

.signupBox {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    flex-wrap: wrap;
}

.col-1,
.col-2 {
    flex-basis: 50%;
    flex-grow: 1;
}

.col-1 img {
    width: 100%;
    display: block;
    border-radius:2.5rem;
    margin: 0.44rem -1.625rem 0.875rem;
 
}

.col-2 form {
    width: 50%;
    background-color: #3fd350;
    border-radius: 1.25rem;
    margin-left: 19%;
}

.col-2 h1 {
    color: black;
    margin: 3% 2% 5% -5%;;
}

form {
    padding: 0.438rem 1.563rem 2.7rem 2.5rem;
    white-space: nowrap;
    font-size: 1.25rem;
    display: block;
    margin: 0 auto;
}

form h1 {
    margin-top: 1.25rem;
    color: black;
    margin: 0.438rem 1.69rem 0.055rem;

}

input {
    padding: 0.625rem;
    border-radius: 0.25rem;
    border: 0.06rem solid black;
    outline: none;
    display: block;
    margin: 0 auto;
    width: 80%;
    margin: 0.438rem 0.125rem;
}

label {
    font-weight: 500;
    font-size: 0.938rem;
    text-align: center;
    margin: 0.438rem 1.25rem 11.348rem;;
}

form button {
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: 0.06rem solid black;
    outline: none;
    display: block;
    width: 60%;
    margin: 1.125rem 2.125rem 0.625rem;
    background-color: #000000;
    color: white;

}

footer {
    background-color: white;
}

/*Styling for SignUp page ends here */


/*Styling for trainings section starts here*/

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 0;
    border: none;
 box-sizing: content-box ;
  }
  .wrapper > * {
    padding: 0.625rem;
    margin: 0.625rem;
    flex: 1 75%;
    border-radius: 0.625rem;
  }
  header {
    background: white;
    height: 7.5rem;
    box-sizing: content-box ;
  }
  .footer {
    background: white;

  }
  
  .main {
    text-align: left;
    background: deepskyblue;
    height: 18.75rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
  }
  .aside1 {
    border-radius: 1.25rem;
    text-transform: uppercase;
    font-size: 1.563rem;
    letter-spacing: 0.25rem;
  }
  
  
  

/*Sytling for trainings section ends here*/

/*Media Queries*/
@media all and (min-width: 1200px) {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .aside1 h1 {
      flex-shrink: 1;
    }
   .col-1 img{
    height: 82vh;

   }
  }
  @media all and (max-width: 800px) {
    .main {
      flex: 1;
    }
    .aside1 {
      order: 1;
      flex: 1;
    }
    .main {
      order: 1;
    }
    .footer {
      order: 2;
    }
    
  }
  
  @media all and (min-width: 600px) {
    .aside {
      flex: 1;
    }
  }

/*For larger to medium screens size from 1200px and down*/

@media screen and (max-width:1200px) {

    .remoteExercise {
        width: 100%;
        height: 50rem;
        margin: 0 auto;
    }

    .workoutImage {
        width: 100%;
        height: 37.5rem;
        background: url("../images/workout_image.webp") no-repeat;
        background-size: cover;
    }

    .remoteExercise h1 {
        padding: 1.875rem 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .remoteExercise img {
        padding: 1.875rem 0;
        margin: 0 auto;
        display: block;
        width: 100%;
    }


    .outerCenter {
        margin-top: 10%;
    }

    .centersHeading {
        margin-left: 6.5rem;
    }

    footer {
        width: 100%;
    }
}


/*For screens upto size from 1024px and down*/

@media screen and (max-width:1024px) {

    .logo {
        font-size: 208%;
    }

    .menu {
        clear: left;
        float: left;
        padding: 2.8rem 1.25rem 1.25rem 1.25rem;
        line-height: 1.563rem;
        font-size: 117%;
        margin-top: -5%;
    }

    .workoutImage {
        width: 100%;
        height: 15.75rem;
        background: url("../images/workout_image.webp") no-repeat;
        background-size: cover;
        margin-top: 2.688rem;
    }

    .workoutVideos h2 {
        font-size: 1.813rem;
    }

    .remoteExercise img {
        height: 25rem;
        margin-top: -4%;
    }

    .center {
        margin-top: -25%;
    }

    .centersHeading {
        font-size: 3.375rem;
        margin-left: -3%;
        text-align: center;
    }

    .col-1-Centers img {
        margin-left: 1%;
    }

    .col-2-Centers {
        margin: -79% 5% 4% 33%;
        position: relative;

    }

    .col-2-Centers h2 {
        padding: 0.06rem;
        font-size: 170%;
    }


    .workoutVideos {
        margin-top: 0px;
        column-count: 3;
        border-radius: 1.25rem;
        height: 43.75rem;
        font-size: 1.563rem;
    }

    .workoutVideos li {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .video1 {
        width: 100%;
        height: 30.25rem;
    }

    .video2 {
        width: 100%;
        height: 30.25rem;
    }

    .video3 {
        width: 100%;
        height: 30.25rem;
    }
    .col-1 img{
        height: 74vh;
        width: 120%;
    }
    

}

/*For screens upto size from 480px and down*/

@media screen and (max-width: 480px) {

    .logo {
        font-size: 150%;
    }

    .menu {
        clear: left;
        float: left;
        padding: 0;
        line-height: 1.563rem;
        margin-left: 7%;
        font-size:60%;
    }

    .menu li {
        color: white;
    }

    .remoteExercise {
        width: 100%;
        height: 31.25rem;
        margin: 0 auto;
    }

    .remoteExercise h1 {
        padding: 1.875rem 0;
        margin: 0;
        width: 100%;
        font-size: 155%;
        text-align: center;
    }

    .remoteExercise img {
        padding: 1.875rem 0;
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 18.75rem;
    }

    .outerCenter {
        margin-top: 43%;
    }

    .centersHeading {
        font-size: 148%;
        margin-left: -5%;
        text-align: center;
        margin-top: -202%;
        letter-spacing: 0.438rem;
    }


    .col-2-Centers {
        margin: 7% 37% 5% 12%;
        position: relative;
    }

    .col-2-Centers h2 {
        font-size: 124%;
    }

    .col-1-Centers img {
        width: 100%;
        height: 18.75rem;
        display: block;
        margin: 0 auto;
    }

    footer {
        background-color: white;
    }

    .socialMedia {
        text-align: center;
        margin-left: -5rem;
    }

    .socialMedia li {
        display: inline;
    }

    .socialMedia i {
        font-size: 160%;
        margin:4% -11% 7% 9%;
        padding: 5%;
        color: #000000;
    }

    .workoutVideos {
        margin-top: 3.125rem;
        column-count: 1;
        border-radius: 1.25rem;
        height: 50rem;
    }

    .video1 {
        width: 50%;
        height: 6.25rem;
        margin: 0.938rem 0.313rem 0.313rem 5.438rem;
    }

    .video2 {
        width: 50%;
        height: 6.25rem;
        margin: -0.313rem 0.313rem 0.313rem 5.438rem;
    }

    .video3 {
        width: 50%;
        height: 6.25rem;
        margin: 0.938rem 0.313rem 0.313rem 5.438rem;
    }

    .SignUpform {
        width: 100%;
        margin-top: -107%;
        float: right;
        position: relative;
        margin-right: 90%;
        background-size: cover;
    }

    .col-2 h1 {
        margin-left: -5%;
    }

    .col-2 form {
        margin-left: 12%;
    }

    .coverpic {
        background: url("../images/workout_image_3.webp") no-repeat center center;
        width: 100%;
        height: 100rem;
        margin-left: -0.188rem;
    }

}