/*Removing the default border and margin values*/
*{
    margin: 0;
    border:0;
    padding:0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    font-weight:250;
    color:#3a3a3a;
}
/*logo*/
h1{
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#242323;
}

/*Aligining the menu and logo in the header using line-height*/
#menu,#logo{
    line-height:75px;  
}
#logo{
    float:left;
    font-size: 250%;
    margin-left: 20px;

}

/* menu items*/
#menu{
    font-size:100%;
    letter-spacing: 4px;
}


#menu li{
    float:right;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: none;
}

#menu a{
    text-decoration: none;
    color:#3a3a3a;
}

/*when we hover it a line appears with the following thickness*/
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

/*Workout Image styling*/
#workout-outer{
    width: 100%;
    height: 600px;
    overflow: hidden; /* to clear the header so that theres no overlpa between heading and the image*/
}

/*Adding and styling the Image*/
#workout-image{
    width: 100%;
    height: 600px;
    /*Adding the image as background*/
    background: url("../images/workout_image.webp") no-repeat;
}

#remote_exercise{
    height:600px;
}
#remote_exercise h1{
    text-align: center;
    font-weight: 200;
}

#watch_from_anywhere{
    height: 600px;
    /*Adding the image as background*/
    background: url("../images/watch_from_anywhere.webp") no-repeat;
    margin: 0 auto;
    display: block;
    width: 100%;
}
